<div class="container mt-5">
  <a href="/">URL Shortener</a>
  <img src="" alt="url-shortener">
  <form action="/shortened" method="POST">
    <div class="form-group">
      <input type="url" class="form-control" id="inputURL" name="inputURL" placeholder="Input URL here" value="{{ inputURL }}">
    </div>
    <button type="submit" class="btn btn-outline-primary">shorten</button>
  </form>
  {{#if shortURL}}
  <div>
    <h2> Success! Please use this link:</h2>
    <a name="shortURL" id="short-url" href="{{shortURL}}">
      <h5>{{shortURL}}</h5>
      </a>
        
    <button type="submit" class="btn btn-primary" id="copy-btn">Copy</button>
  </div>
  
  <script>
    const shortURL = document.querySelector('#short-url')
    const copyBtn = document.querySelector('#copy-btn')

    copyBtn.addEventListener('click', function onCopyBtnclicked(event) {
      console.log('Copy Button is clicked!')
      {{!-- 選取網址內容 --}}
      window.getSelection().selectAllChildren(shortURL)
      { { !--執行copy的指令--} }
      document.execCommand('copy')
    }) 
  </script>
  {{/if}}
</div>