<div class="container mt-5">
  <img src="" alt="url-shortener">
  <form action="/shorten" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="fullURL" name="fullURL" placeholder="Input URL here">
    </div>
    <button type="submit"  class="btn btn-outline-dark">shorten</button>
  </form>
</div>