<div class="container mt-5">
  <h1>URL Shortener</h1>
  <img src="" alt="url-shortener">
  <h2 for="shortURL"> Success! Please use this link:</h2>
   <a name="shortURL" href="">this is your shortened url</a>
    <button type="submit" class="btn btn-primary">Copy</button>
</div>